@page
@model PyImpresoras.Frontend.Pages.CrearSeguroModel
@{
     ViewData["Title"] = "Crear Seguro";
}
<h1>Generar seguro</h1>
@* <h4>@Model.Persona.Login</h4> *@
<form method="POST">
    
    <div class="mb-3">
        <label for="fecha_fin" class="form-label">Fecha de compra</label>
        <input asp-for="Seguro.FechaCompra" type="date" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="fecha_fin" class="form-label">Fecha de vencimento</label>
        <input asp-for="Seguro.FechaVencimiento" type="date" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="tipo_de_seguro" class="form-label">Tipo de seguro</label>
        <select class="form-select" aria-label="Default select example" >
            @foreach (var tipoSeguro in Model.TipoSeguro)
            {
                <option value="@tipoSeguro.Id">@tipoSeguro.TipoDeSeguro</option>
            }

        </select>
        
    </div>
    <div>
            <input type="submit" class="btn btn-primary " value="guardar seguro">
     </div>
</form>
