@page
@model PyImpresoras.Frontend.Pages.TipoEstudiosModel
@{
     ViewData["Title"] = "Tipo Estudios";
}
<h1>Registro del tipo de estudios en el sistema</h1>
@* <a asp-page="../TipoEstudios/TipoEstudios" >Registrar Tipo impresora</a>
<form method="post">
  <div class="mb-3">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <label asp-for="TipoEstudio.Tipo" class="form-label"> Tipo de estudio</label>
    <input type="text" asp-for="TipoEstudio.TipoDeEstudio"  class="form-control" id="Email" aria-describedby="emailHelp">
    <span asp-validation-for="TipoEstudio.TipoDeEstudio" class="text-danger"></span>
  </div>
  <button type="submit" class="btn btn-primary">Registrar tipo estudio</button>
</form>
 *@